@import url(//db.onlinewebfonts.com/c/543092172c7d9a62dc51fa0fc510b6cf?family=Everett+Regular);
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Mali:wght@200&family=Mitr:wght@200;300;400&family=Nunito:wght@200;300&family=Rubik+Mono+One&display=swap');

*{
  box-sizing: border-box;
  margin-left: 10px ;
  margin-right: 10px;
  color: #222;
  background-color:#e6e6e6 ;
  z-index: 99;
}
/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
footer .slide_txt{
    line-height: 80px;
    left: 0px;
    width: 200vh;
    background: none   ;
    position: absolute;
    overflow: hidden;
    margin-left: 1px ;
    margin-right: 1px;
    z-index: 101;
  }
  /*remove p*/
  .Contents {
    width:100%;
    padding-top: 20px;
    margin:0 auto;
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 100px;
    overflow: hidden;
  }
  .marqueeStyle {
    display:inline-block;
    /* Apply animation to this element */
    -webkit-animation: scrolling-left1 60s linear infinite;
    animation: scrolling-left1 60s linear infinite;
  }
  .marqueeStyle2 {
    display:inline-block;
    /* Apply animation to this element */
    -webkit-animation: scrolling-left2 50s linear infinite;
    animation: scrolling-left2 50s linear infinite;
    animation-delay: 1.5s;
  }
  .marqueeStyle3 {
    display:inline-block;
    /* Apply animation to this element */
    -webkit-animation: scrolling-right1 60s linear infinite;
    animation: scrolling-right1 60s linear infinite;
  }
  .marqueeStyle4 {
    display:inline-block;
    /* Apply animation to this element */
    -webkit-animation: scrolling-right2 50s linear infinite;
    animation: scrolling-right2 50s linear infinite;
    animation-delay: 1.5s;
  }
  /* scrolling-left is continuous/repeatly text */
  @keyframes scrolling-left1 {
      0% {transform: translateX(100%);
          -webkit-transform: translateX(100%);}
        100% {transform: translateX(-100%);
            -webkit-transform: translateX(-100%);}
  }
  @keyframes scrolling-left2 {
      0% {transform: translateX(0%);
          -webkit-transform: translateX(0%);}
        100% {transform: translateX(-200%);
            -webkit-transform: translateX(-200%);}
  }
  
  @-webkit-keyframes scrolling-left1 {
      0% {-webkit-transform: translateX(100%);}
        100% {-webkit-transform: translateX(-100%);}
  }
  @-webkit-keyframes scrolling-left2 {
      0% {-webkit-transform: translateX(0%);}
        100% {-webkit-transform: translateX(-200%);}
  }
  @keyframes scrolling-right1 {
    0% {transform: translateX(-100%);
        -webkit-transform: translateX(-100%);}
      100% {transform: translateX(100%);
          -webkit-transform: translateX(100%);}
  }
  @keyframes scrolling-right2 {
    0% {transform: translateX(-200%);
        -webkit-transform: translateX(-200%);}
      100% {transform: translateX(0%);
          -webkit-transform: translateX(0%);}
  }
  
  @-webkit-keyframes scrolling-right1 {
    0% {-webkit-transform: translateX(-100%);}
      100% {-webkit-transform: translateX(100%);}
  }
  @-webkit-keyframes scrolling-right2 {
    0% {-webkit-transform: translateX(-200%);}
      100% {-webkit-transform: translateX(0%);}
  }
  footer p{
    text-align: center;
    font-size: 20px;
    font-family: 'Everett Regular', sans-serif;
    line-height: 1px;
    margin-top: 20px;
  }
/*---------------------------------------------------------------------------*/





/*---------------------------------------------------------------------------*/

@media (max-width: 1024px){
    footer .slide_txt{
      line-height: 60px;
    }
    /*remove p*/
    .Contents {
      padding-top: 10px;
      font-size: 60px;
    }
    footer p{
      font-size: 15px;
    }
  }

  
@media (max-width: 560px){
    footer .slide_txt{
      line-height: 60px;
    }
    /*remove p*/
    .Contents {
      padding-top: 10px;
      font-size: 40px;
    }
    footer p{
      font-size: 10px;
    }
  }