@import url(//db.onlinewebfonts.com/c/543092172c7d9a62dc51fa0fc510b6cf?family=Everett+Regular);
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Mali:wght@200&family=Mitr:wght@200;300;400&family=Nunito:wght@200;300&family=Rubik+Mono+One&display=swap');

*{
  box-sizing: border-box;
  margin-left: 10px ;
  margin-right: 10px;
  color: #222;
  background-color:#e6e6e6 ;
  z-index: 99;
}
/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
section{
  position: relative;
  display: block;
  line-height: 1px;
  font-family: 'Nunito', sans-serif;
  
}
section p{
  margin-top: 15%;
  font-size: 130px;
  font-weight: lighter;  
  text-align: center;
  transform: translateY(6rem);
	animation: up 500ms linear forwards;
	z-index: 1;
}
section h1{
  font-size: 110px;
  margin-left: 5%;
  transform: translateY(6rem);
	animation: up 500ms linear forwards;
  animation-delay: 0.3s;
  opacity: 0;
	z-index: 1; 
}
section h2{
  font-size: 130px;
  font-weight: lighter;  
  padding: 20px 0px 90px 550px;
  transform: translateY(6rem);
	animation: up 500ms linear forwards;
  animation-delay: 0.9s;
  opacity: 0;
	z-index: 1;
  
}
section h3{
  position:absolute ;
  font-size: 10px;
  font-weight: lighter; 
  margin-left: 90px;
  line-height: 1px;
  transform: translateY(6rem);
	animation: up 500ms linear forwards;
  animation-delay: 0.6s;
  opacity: 0;
	z-index: 1;
}
@keyframes up {
	from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0)
  }
}

/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
datetime p{
  font-size: 15px;
  font-family: 'Everett Regular', sans-serif;
  font-weight: bold;
  position: absolute;
  top: 90%;
  right: 5%;
}
/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/

about p{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Everett Regular', sans-serif;
  line-height: 1px;
}
about h1{
  text-align: center;
  font-size: 70px;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  margin-top: 30px;
  line-height: 30px;
}
about .circle {
  width: 150px;
  height: 150px;
  line-height: 100px;
  border-radius: 50%;
  font-size: 15px;
  color: #e6e6e6;
  display: flex;
  background: #222;
  position: relative;
  align-items: center;
  margin: auto;
  margin-top: 10%;
  justify-content: center;
}
about .circle a{
  color: #e6e6e6;
  background-color: #222;
  font-family: 'Everett Regular', sans-serif;
}
/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
project p{
  text-align: center;
  font-size: 20px;
  font-family: 'Everett Regular', sans-serif;
  line-height: 1px;
  font-weight: bold;
}
project a{
  font-size: 20px;
  font-family: 'Everett Regular', sans-serif;
  line-height: 1px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.graphic{
  position: relative;
  display: block;
  margin: 40px;
  margin-top: 30px;
  line-height: 1px;
}
.graphic p{
  text-align: left;
  margin-left: 15%;
}
project h1{
  font-size: 100px;
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  margin-left: 15%;
  line-height: 10px;
}
project .graphic a{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0%;
  left: 70%;
  opacity: 70%;
  transition: 0.5s ease;
}
project .graphic a img{
  margin-left: 10px;
}
project .graphic a:hover{
  transform: scale(1.5);
  box-shadow: 5px 5px 15px;
  opacity: 100%;
}

.paint{
  position: relative;
  display: block;
  margin: 40px;
  margin-top: 30px;
  line-height: 1px;
}
.paint p{
  text-align: left;
  margin-left: 15%;
  margin-top: 20px;
}
project .paint a{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0%;
  left: 70%;
  opacity: 70%;
  transition: 0.5s ease;
}
project .paint a img{
  margin-left: 10px;
}
project .paint a:hover{
  transform: scale(1.5);
  box-shadow: 5px 5px 15px;
  opacity: 100%;
}

.td{
  position: relative;
  display: block;
  margin: 40px;
  margin-top: 30px;
  line-height: 1px;
}
.td p{
  text-align: left;
  margin-left: 15%;
  margin-top: 20px;
}
project .td a{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0%;
  left: 70%;
  opacity: 70%;
  transition: 0.5s ease;
}
project .td a img{
  margin-left: 10px;
}
project .td a:hover{
  transform: scale(1.5);
  box-shadow: 5px 5px 15px;
  opacity: 100%;
}

.web{
  position: relative;
  display: block;
  margin: 40px;
  margin-top: 30px;
  line-height: 1px;
}
.web p{
  text-align: left;
  margin-left: 15%;
  margin-top: 20px;
}
project .web a{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0%;
  left: 70%;
  opacity: 70%;
  transition: 0.5s ease;
}
project .web a img{
  margin-left: 10px;
}
project .web a:hover{
  transform: scale(1.5);
  box-shadow: 5px 5px 15px;
  opacity: 100%;
}
/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
contact p{
  text-align: center;
  font-size: 20px;
  font-family: 'Everett Regular', sans-serif;
  line-height: 1px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10%;
}
contact .link {
    display: flex;
}
contact a{
  font-size: 20px;
  font-family: 'Everett Regular', sans-serif;
  line-height: 1px;
  position: relative;
  display: inline-block;
}
contact h1 {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 100px;
}
contact h1 a{
  text-decoration: none;
  font-size: 100px;
  font-weight: lighter;
}
/*---------------------------------------------------------------------------*/






/*---------------------------------------------------------------------------*/
@media (max-width: 1024px){
  section p{
    font-size: 70px;
    margin-top: 30%;
  }
  section h1{
    font-size: 50px;
    margin-left: 10%;
  }
  section h2{
    font-size: 70px;   
    padding: 10px 0px 10px 250px;
  }
  section h3{
    padding: 10px 0px 10px 10px;
    position:absolute ;
    font-size: 5px;
    margin-left: 10px;
  }
  /*---------------------------------------------------------------------------*/
  
  /*---------------------------------------------------------------------------*/
  
  datetime p{
    font-size: 10px;
    top: 60%;
  }
  /*---------------------------------------------------------------------------*/
  
  /*---------------------------------------------------------------------------*/
  
  about p{
    margin-top: 10%;
    font-size: 15px;
  }
  about h1{
    font-size: 50px;
  }
  about .circle {
    width: 100px;
    height: 100px;
    line-height: 10px;
    border-radius: 50%;
    font-size: 10px;
  }
  /*---------------------------------------------------------------------------*/
  
  /*---------------------------------------------------------------------------*/
  project p{
    font-size: 15px;
  }
  project a{
    font-size: 15px;
  }
  project h1{
    font-size: 70px;
    margin-left: 5%;
    line-height: 10px;
  }
  project .graphic a{
    width: 150px;
    height: 150px;
  }

  project .paint a{
    width: 150px;
    height: 150px;
  }

  project .td a{
    width: 150px;
    height: 150px;
  }

  project .web a{
    width: 150px;
    height: 150px;
  }
  /*---------------------------------------------------------------------------*/
  
  /*---------------------------------------------------------------------------*/
  contact p{
    font-size: 15px;
  }
  contact a{
    font-size: 15px;
  }
  contact h1 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 100px;
  }
  contact h1 a{
    text-decoration: none;
    font-size: 60px;
    font-weight: lighter;
  }
}
/*---------------------------------------------------------------------------*/





/*---------------------------------------------------------------------------*/
@media (max-width: 560px){
  section p{
    font-size: 40px;
  }
  section h1{
    font-size: 30px;
    margin-bottom: 10px;
  }
  section h2{
    font-size: 40px;   
    padding: 20px 0px 30px 80px;
    overflow: hidden;
  }
  section h3{
    padding: 5px 0px 10px 1px;
    position:absolute ;
    font-size: 5px;
    margin-left: 10px;
  }
  /*---------------------------------------------------------------------------*/
  
  /*---------------------------------------------------------------------------*/
  
  datetime p{
    font-size: 10px;
    top: 40%;
  }
  /*---------------------------------------------------------------------------*/
  
  /*---------------------------------------------------------------------------*/
  
  about p{
    margin-top: 10%;
    font-size: 10px;
  }
  about h1{
    font-size: 30px;
  }
  /*---------------------------------------------------------------------------*/
  
  /*---------------------------------------------------------------------------*/
  project p{
    margin-top: 5%;
    font-size: 10px;
  }
  project a{
    font-size: 10px;
  }
  project h1{
    font-size: 30px;
  }
  project .graphic a{
    width: 80px;
    height: 80px;
  }

  project .paint a{
    width: 80px;
    height: 80px;
  }

  project .td a{
    width: 80px;
    height: 80px;
  }

  project .web a{
    width: 80px;
    height: 80px;
  }
  /*---------------------------------------------------------------------------*/
  
  /*---------------------------------------------------------------------------*/
  contact p{
    font-size: 15px;
  }
  contact a{
    font-size: 15px;
  }
  contact h1 {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 100px;
  }
  contact h1 a{
    text-decoration: none;
    font-size: 40px;
    font-weight: lighter;
  }
}